body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212121;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 1px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  nav {
    display: flex;
    justify-content: center;
    background-color: #555;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 10px;
    background-color: #8103ca;
    transition: background-color 0.3s;
  }

  nav a:hover {
    background-color: #9b06f0;
  }

  section {
    padding: 20px;
    
  }

  h2 {
    color: #ffffff;
  }

  .game-card {
    margin: 10px;
    width: 1050px; 
    background-color: #9b06f0;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
  }
  
  .game-card:hover {
    transform: scale(1.05);
    background-color: #8103ca;
  }
  
  .game-card img {
    width: 50%;
    height: 50%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .game-info {
    padding: 15px;
    text-align: center;
  }